repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-case-conflict
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: destroyed-symlinks
      - id: mixed-line-ending

  - repo: https://github.com/tombi-toml/tombi-pre-commit
    rev: v0.7.0
    hooks:
      - id: tombi-format
        exclude: ^Cargo\.lock$
      - id: tombi-lint

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6
    hooks:
      - id: ruff-check
        args: [--fix]
      - id: ruff-format
